<!-- main container start herer -->
<div class="main-container dashboard" ng-controller="admin_controller">

<div ng-include="'pages/admin/admin-left-menu.html'"></div>

	<div class="work-pannel" ng-init="fetch_all_banner_detail()">
		<!-- top header start here -->
		<div class="top-header">
			<div class="container">
				<ul class="menu">
					<li class="logout-btn"><a href="#0" class="main-link">Logout</a></li>
				</ul>
			</div>
		</div>
		<!-- top header end here -->

		<div class="container">
			<div class="view-pannel">

				<!-- page bar start here -->
				<div class="page-name-bar">
					<h2 class="page-name">Add Layout</h2>
					<ul class="breadcrumbs">
						<li class="list"><a href="#0" class="link">Home</a></li>
						<li class="list">Add Layout</li>
					</ul>

					<ul class="link-icon">
						<li class="list"><div ng-click="save_layout(banner_detail)" class="blue-btn"><i class="fa fa-floppy-o" aria-hidden="true"></i></div></li>
						<li class="list"><a href="#/admin/layouts" class="white-btn"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<!-- page bar end here -->

				<!-- table view start here -->
				<div class="table-view">
					<h3 class="head-name">Add Layout</h3>
					<div class="row ">

						<!-- <div class="row field-fillup">
							<span class="input-field-title mendatory">Banner Name</span>
							<div class="col-md-80 input-div"><input type="text" name="" class="input-box" placeholder="Option Name"></div>
						</div> -->

						<div class="row field-fillup">
							<span class="input-field-title mendatory">Select Layout Type</span>
							<div class="col-md-80 input-div">

								 <select ng-model="banner_detail.type" ng-options="t.banner_name for t in fetch_banner_details track by t.banner_name" class="select-option">
									<option value="">--Select--</option>
								</select>


							</div>
						</div>

						 <div class="row field-fillup">
							<span class="input-field-title mendatory">Layout Name</span>
							<div class="col-md-80 input-div">
								<input type="text" name="" class="input-box" placeholder="Layout Name" ng-model="banner_detail.layout_name">
							</div>
						</div> 

						<div class="row field-fillup">
							<span class="input-field-title mendatory">Status</span>
							<div class="col-md-80 input-div">
								<select class="select-option" ng-model="banner_detail.layout_status">
									<option value=""></option>
									<option value="Enable">Enable</option>
									<option value="Disable">Disable</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<!-- table view end here -->


			</div>
		</div>

	</div>
</div>


<script type="text/javascript">
$(".left-pannel .main-list .toggle-cat").click(function(){
	$(this).next(".nav-fly").slideToggle(200);
	$(this).parent(".main-list").nextAll(".main-list").children(".nav-fly").slideUp(1000);
	$(this).parent(".main-list").prevAll(".main-list").children(".nav-fly").slideUp(1000);
});

// add more add more 
$(".add-more").click(function(){
	$(this).parents(".list").prev(this).clone(true).prependTo($(this).parents(".create-list"));
});

// remove
$(document).on("click" , ".remove-row" , function(){
	$(this).parents(".list").remove();
});


$(".field-fillup .add-sugges").focus(function(){
	$(this).next(".dropdown-sugges").show();
});

$(".field-fillup .add-sugges").blur(function(){
	$(this).next(".dropdown-sugges").fadeOut(300);
});

$(document).on("click" , ".dropdown-sugges .list", function(){
$(this).appendTo(".add-well");
var e= "<input type='hidden' class='inp-hidden'>";
$(".add-well").append(e);
e.attr('value' , $(this).attr("data-value") );
});

$(document).on("click" , ".add-well .list", function(){
$(this).appendTo(".dropdown-sugges");
$(this).next(".inp-hidden").remove();
});


</script>
